<!DOCTYPE html>
<html>
  <head>
    {{> commonHeader}}
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <video width="320" height="240" controls>
      <source src="Random.webm" type="video/webm">
    </video>
    {{> footer}}
  </body>
</html>
